---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/" rel="alternate"></link>
  <link href="{{ site.url }}/feed.xml" rel="self"></link>
  <id>{{ site.url }}/</id>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {%- for post in collections.posts | reverse %}
  {%- if loop.index <= 20 %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"></link>
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    {% if post.data.author %}
    <author>
      <name>{{ post.data.author }}</name>
    </author>
    {% endif %}
    {% if post.data.excerpt %}
    <summary>{{ post.data.excerpt }}</summary>
    {% endif %}
    <content type="html"><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(site.url + post.url) }}]]></content>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
